body {
	background: #fff;
}

a {
	color: #000;
}

img {
	-webkit-filter: saturate(0);
	-o-filter: saturate(0);
	filter: saturate(0);
}

.l-layout a:hover {
	color: #fff;
	background-color: #000;
	outline: 2px solid #000;
}

.bg--red {
	background-color: #000;
}

.bg--red a:hover {
	color: #000;
	background-color: #fff;
	outline: 2px solid #fff;
}

.logo,
.topnav__arm {
	-webkit-filter: saturate(0);
	-o-filter: saturate(0);
	filter: saturate(0);
}

.topnav__gain {
	display: none;
}

.topnav__gain a {
	background: #fff;
	color: #000;
}

.topnav__gain .svg * {
	fill: #000;
}

.topnav__gain a:hover {
	background: #000;
	color: #fff;
}

.topnav__gain a:hover .svg * {
	fill: #fff;
}

.gain-off {
	display: block;
}

.l-header {
	background: #000;
}

.topnav__lang ul {
	background: #000;
}

.topnav__lang ul a:hover {
	background: #fff;
	color: #000;
}

.backnav a {
	font-weight: 700;
	color: #000;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.backnav a:last-child {
	color: #000;
}

.backnav a:last-child:hover {
	color: #000;
	background: transparent;
	outline: 0;
}

.mm-menu {
	background: #222;
}

.mm-listview {
	color: #fff;
}

.mm-listview>li:hover {
	color: #000;
	background-color: #fff;
	position: relative;
}

.mm-listview>li:hover:before {
	content:"";
	position: absolute;
	width: 20px;
	height: 100%;
	background: #fff;
	top: 0;
	left: -20px;
}

.mm-listview>li:hover:after {
	content:"";
	position: absolute;
	width: 20px;
	height: 100%;
	height: calc(100% - 1px);
	background: #fff;
	top: 0;
	left: 100%;
}

.mm-menu .mm-listview>li .mm-next:after {
	border-color: #fff;
}

.mm-menu .mm-listview>li:hover .mm-next:after {
	border-color: #000;
}

.mm-menu .mm-navbar a, .mm-menu .mm-navbar > * {
	color: #fff;
	font-size: 16px;
}

.menu__level {
	font-weight: 700;
}

.section__header {
	font-size: 24px;
}

.pub-item {
	font-size: 20px;
}

.pub__header {
	font-size: 13px;
}

.pub__descr a {
	font-weight: 700;
	box-decoration-break: clone;
}

.pub__descr a:hover {
	color: #fff;
	background: #000;
	outline: 2px solid #000;
}


.section-stats {
	background: #fff;
	color: #000;
}

.stats-list a {
	color: #000;
	border-bottom: 2px solid rgba(0,0,0,0.75);
}

.stats-list dt a {
	display: inline;
	padding: 0;
	color: #000;
	font-weight: 700;
	line-height: 1.7;
	text-transform: uppercase;
	border-bottom: 2px dotted rgba(0,0,0,0.75);
}

.stats-list dt a:after {
	display: none;
}

.stats-list dt a:hover {
	color: #fff;
	background: #000;
	outline: 2px solid #000;
	border: 0;
}

.stats-list dd p {
	font-size: 14px;
}

.stats-list table td {
	border: 2px solid #666;
}

.stats-list table th {
	border: 2px solid #666;
	font-size: 14px;
}

.p-item {
	font-weight: 700;
	border: 2px solid #000;
	color: #000;
}

.scrollbar .handle,
.scrollbar .handle:hover,
.scrollbar .handle:active {
	background-color: #333;
	width: 16px!important;
	right: 1px;
}

.scrollbar .handle:before {
	content:"";
	width: 0;
	height: 0;
	border-left:   5px solid transparent;
	border-right:  4px solid transparent;
	border-bottom: 4px solid #fff;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -4px;
}

.scrollbar .handle:after {
	content:"";
	width: 0;
	height: 0;
	border-left:   5px solid transparent;
	border-right:  4px solid transparent;
	border-top: 4px solid #fff;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -4px;
}

.digest__header a {
	color: #000;
}

.digest__header a span {
	border-bottom-color: rgba(0,0,0,0.5);
}

.digest__header a:after {
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,1);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,1);
	-webkit-filter: saturate(0);
	-o-filter: saturate(0);
	filter: saturate(0);
}



.tabs__header ul a {
	color: #000;
	font-weight: 700;
	border-bottom: 3px dotted rgba(0,0,0,0.5);
}

.tabs__header a:hover {
	border-bottom: 3px solid #000;
}

.tabs__header .active a {
	color: #000!important;
	border-bottom: 3px solid #000!important;
	cursor: default;
}

.tabs__header .active a:hover {
	background-color: transparent;
	outline: 0;
}

.l-infoblock .tab-item a:hover {
	color: #fff;
	background: #000;
	outline: 2px solid #000
}

.mm-prev {
	background: #222;
}

.p-list .owl-prev,
.p-list .owl-next {
	background: #000;
}

.socials a {
	display: inline-block;
}

.socials a:hover .svg *,
.socials a:hover .svg--small * {
	fill: #000;
}

.socials a:hover .ico {
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
}

.p-img {
	-webkit-filter: saturate(0) contrast(1.3);
	-o-filter: saturate(0) contrast(1.3);
	filter: saturate(0) contrast(1.3);
}

.promo__slider {
	-webkit-filter: saturate(0) contrast(1.1);
	-o-filter: saturate(0) contrast(1.1);
	filter: saturate(0) contrast(1.1);
}

.promo__slider a:after,
.promo__slider a:hover:after {
	height: 100%;
	background: rgba(0,0,0,0.6);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.promo__slider a:hover:after {
	background: rgba(0,0,0,0.5);
}

.promo__slider a span {
	font-weight: 700;
}

.pub__footer a {
	padding-left: 60px!important;
	color: #000;
}

.pub__footer a:before {
	color: #000!important;
	background: transparent!important;
	white-space: nowrap;
	width: auto!important;
	text-transform: uppercase;
}
.pub__footer a:hover:before{
	color: #fff!important;
}

.pub__footer a[href$=".pdf"]{
	color: #000;
}

.pub__footer a[href$=".pdf"]:before {
	content: "pdf-файл";
}


.digest-expand:after {
	font-size: 48px;
	width:  32px;
	height: 32px;
	-webkit-box-shadow: inset 0 0 0 2px #000;
	box-shadow: inset 0 0 0 2px #000;
	-webkit-filter: saturate(0) contrast(1.1);
	-o-filter: saturate(0) contrast(1.1);
	filter: saturate(0) contrast(1.1);
}

.sq-aside a {
	background: #000;
	color: #fff;
	border-bottom: 1px solid #000;
}

.sq-content {
	-webkit-filter: saturate(0) contrast(1.1);
	-o-filter: saturate(0) contrast(1.1);
	filter: saturate(0) contrast(1.1);
}

.usercontent ul li:before {
	color: #000;
}

.usercontent th {
	background: #000;
	border-color: #666;
}


.usercontent a[href$=".pdf"]:after {
	content:"pdf-файл";
	background: none;
	width: auto;
	font-size: 14px;
	line-height: 1;

}

.usercontent a[href$=".doc"]:after {
	content:"doc-файл";
	background: none;
	width: auto;
	font-size: 14px;
	line-height: 1;
}

.usercontent a[href$=".xls"]:after {
	content:"xls-файл";
	background: none;
	width: auto;
	font-size: 14px;
	line-height: 1;
}

.usercontent .tip {
	color: #000;
	font-size: 16px;
}


.goback {
	background: #fff;
	color: #000;
	border: 2px solid #000;
}

.goback:before {
	border-right: 2px solid #000;
}


.button {
	background-color: #000;
	color: #fff;
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

.button:hover {
	background-color: #fff;
	color: #000;
	outline: 2px solid #000;
}

.radio {
	background: #fff;
	border: 2px solid #000;
}

.radio input:checked:before {
	-webkit-box-shadow: inset 0 0 0 3px #000;
	box-shadow: inset 0 0 0 3px #000;
}

.input input,
.input textarea {
	border: 2px solid #000;
	padding-left: 1rem;
	padding-right: 1rem;
	font-weight: 700;
}

.input > label {
	left: 15px;
	font-weight: 700;
}

.reg__form label b {
	font-size: 20px;
	color: #000;
}

.input input:focus ~ label,
.input textarea:focus ~ label,
.input .has-content ~ label,
.input .bxlhe-frame ~ label,
.input__error ~ label{
	font-size: 16px;
	color: #000 !important;
}

.csstransforms .input input:focus ~ label,
.csstransforms .input textarea:focus ~ label,
.csstransforms .input .has-content ~ label,
.csstransforms .input .bxlhe-frame ~ label {
	-webkit-transform: translateY(-45px);
	-ms-transform: translateY(-45px);
	-o-transform: translateY(-45px);
	transform: translateY(-45px);
}

.input__error ~ .note__error {
	background: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	right: 3px;
	top: 100%;
	margin-top: 1px;
	outline: 3px solid #000;
}

@media only screen and (max-width: 359px) {
	.input__error ~ .note__error {
		font-size: 13px;
		font-weight: 400;
	}
}

.input__success ~ .note__success:before,
.input__success ~ .note__success:after{
	background: #000;
	height: 3px;
}

.input__success ~ .note__success {
right: 10px;
}

.reg__steps .step {
color: #000;
border-color: #000;
background: #fff;
font-weight: 800;
}

.input input.input__error,
.input textarea.input__error{
	border-color: #000;
}

.input > .focus-border,
.input .has-content ~ .focus-border {
background-color: #000;
}

.form-row {
	margin-bottom: 60px;
}




.link-descr {
color: #000;
font-size: 16px;
}

.block-item {
border: 2px solid #000;
margin-top: -2px;
}

.block-title {
background: #fff;
font-size: 18px;
}

.block-link {
border: 2px solid #000;
margin-top: -2px;
background: #fff;
font-size: 18px;
}

.block-title:after {
color: #000;
-webkit-box-shadow: 0 0 0 2px #000;
box-shadow: 0 0 0 2px #000;
}

.block-title:hover:after{
background: none;
color: #fff;
-webkit-box-shadow: 0 0 0 2px #fff;
box-shadow: 0 0 0 2px #fff;
}

.block-content {
border-color: #000;
}





blockquote {
border: 2px solid #000;
color: #000;
}

blockquote:before, blockquote:after {
color: #000;
}


small {
font-size: 16px;
}


.digest-expand {
text-align: center;
}

.digest-expand:after {
content:"Показать еще";
display: inline-block;
background: none;
-webkit-box-shadow: 0 0 0 0 transparent;
box-shadow: 0 0 0 0 transparent;
height: auto;
width: auto;
font-size: 18px;
border-radius: 0;
border: 2px solid #000;
text-align: center;
padding: 0.5rem;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.digest-expand:hover:after {
background: #000;
color: #fff;
}



.b-feedback > a:hover,
.topnav__phone > a:hover {
background-color: #fff;
color: #000;
}

.b-feedback > a:hover .svg path,
.topnav__phone > a:hover .svg path {
fill: #000;
}


.res-list a:hover {
opacity: 1;
}

.usercontent table {
border: 0;
}

.usercontent th, .usercontent td {
border: 1px solid #000;
}

.usercontent tr:nth-child(2n+1) td {
background: transparent;
}



.accent {
background: #000;
border: 1px solid #000;
font-size: 16px;
color: #fff;
font-style: normal;
font-size: 18px;
}

/* placeholder */
.search__input::-webkit-input-placeholder{
	color: #000;
}
.search__input:-moz-placeholder{
	color: #000;
}
.search__input::-moz-placeholder{
	color: #000;
}
.search__input:-ms-input-placeholder{
	color: #000;
}

.search__input:focus::-webkit-input-placeholder{ opacity: 0; }
.search__input:focus:-moz-placeholder{ opacity: 0; }
.search__input:focus::-moz-placeholder{ opacity: 0; }
.search__input:focus:-ms-input-placeholder{ opacity: 0; }

.search__input:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.search__submit .svg *,
.search__submit:hover .svg *{
	fill: #000;
}
/* placeholder end */