body {
	background: #fff;
}

a {
	color: #000;
}

img {
	-webkit-filter: saturate(0);
	-o-filter: saturate(0);
	filter: saturate(0);
}

hr {
	background: #000;
	height: 3px;
}

.l-layout a:hover {
	color: #fff;
	background-color: #000;
	outline: 2px solid #000;
}

.backnav a:hover{
	border-bottom-color: #fff;
}

.bg--red {
	background-color: #000;
}

.bg--red a:hover {
	color: #000;
	background-color: #fff;
	outline: 2px solid #fff;
}

.promo__slider .owl-dot span{
	box-shadow: inset 0 0 0 2px #000, 0 0 0 2px #fff;
}
.promo__slider .owl-dot {
	width: 30px;
	height: 10px;
	margin-right: 20px;
}

.logo,
.topnav__arm {
	-webkit-filter: saturate(0);
	-o-filter: saturate(0);
	filter: saturate(0);
}

.topnav__gain {
	display: none;
}

.topnav__gain a {
	background: #fff;
	color: #000;
}

.topnav__gain .svg * {
	fill: #000;
}

.topnav__gain a:hover {
	background: #000;
	color: #fff;
}

.topnav__gain a:hover .svg * {
	fill: #fff;
}

.gain-off {
	display: block;
}

.l-header {
	background: #000;
}

.topnav__lang ul {
	background: #000;
}

.topnav__lang ul a:hover {
	background: #fff;
	color: #000;
}

.backnav a {
	font-weight: 700;
	color: #000;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}

.backnav a:last-child {
	color: #000;
}

.backnav a:last-child:hover {
	color: #000;
	background: transparent;
	outline: 0;
}

.mm-menu {
	background: #222;
}

.mm-listview {
	color: #fff;
}

.mm-listview>li:hover {
	color: #000;
	background-color: #fff;
	position: relative;
}

.mm-listview>li:hover:before {
	content:"";
	position: absolute;
	width: 20px;
	height: 100%;
	background: #fff;
	top: 0;
	left: -20px;
}

.mm-listview>li:hover:after {
	content:"";
	position: absolute;
	width: 20px;
	height: 100%;
	height: calc(100% - 1px);
	background: #fff;
	top: 0;
	left: 100%;
}

.mm-menu .mm-listview>li .mm-next:after {
	border-color: #fff;
}

.mm-menu .mm-listview>li:hover .mm-next:after {
	border-color: #000;
}

.mm-menu .mm-navbar a, .mm-menu .mm-navbar > * {
	color: #fff;
	font-size: 16px;
}

.menu__level {
	font-weight: 700;
}

.section__header {
	font-size: 24px;
}

.pub-item {
	font-size: 20px;
}

.pub__header {
	font-size: 13px;
}

.pub__descr a {
	font-weight: 700;
	box-decoration-break: clone;
}

.pub__descr a:hover {
	color: #fff;
	background: #000;
	outline: 2px solid #000;
}


.section-stats {
	background: #fff;
	color: #000;
}

.stats-list a {
	color: #000;
	border-bottom: 2px solid rgba(0,0,0,0.75);
}

.stats-list dt a {
	display: inline;
	padding: 0;
	color: #000;
	font-weight: 700;
	line-height: 1.7;
	text-transform: uppercase;
	border-bottom: 2px dotted rgba(0,0,0,0.75);
}

.stats-list dt a:after {
	display: none;
}

.stats-list dt a:hover {
	color: #fff;
	background: #000;
	outline: 2px solid #000;
	border: 0;
}

.stats-list dd p {
	font-size: 14px;
}

.stats-list table td {
	border: 2px solid #666;
}

.stats-list table th {
	border: 2px solid #666;
	font-size: 14px;
}

.p-item {
	font-weight: 700;
	border: 2px solid #000;
	color: #000;
}

.p-img{
	display: none;
}

.scrollbar .handle,
.scrollbar .handle:hover,
.scrollbar .handle:active {
	background-color: #333;
	width: 16px!important;
	right: 1px;
}

.scrollbar .handle:before {
	content:"";
	width: 0;
	height: 0;
	border-left:   5px solid transparent;
	border-right:  4px solid transparent;
	border-bottom: 4px solid #fff;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -4px;
}

.scrollbar .handle:after {
	content:"";
	width: 0;
	height: 0;
	border-left:   5px solid transparent;
	border-right:  4px solid transparent;
	border-top: 4px solid #fff;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -4px;
}

.digest__header a {
	color: #000;
}

.digest__header a span {
	border-bottom-color: rgba(0,0,0,0.5);
}

.digest__header a:after {
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,1);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,1);
	-webkit-filter: saturate(0);
	-o-filter: saturate(0);
	filter: saturate(0);
}



.tabs__header ul a {
	color: #000;
	font-weight: 700;
	border-bottom: 3px dotted rgba(0,0,0,0.5);
}

.tabs__header a:hover {
	border-bottom: 3px solid #000;
}

.tabs__header .active a {
	color: #000!important;
	border-bottom: 3px solid #000!important;
	cursor: default;
}

.tabs__header .active a:hover {
	background-color: transparent;
	outline: 0;
}

.l-infoblock .tab-item a:hover {
	color: #fff;
	background: #000;
	outline: 2px solid #000
}

.mm-prev {
	background: #222;
}

.p-list .owl-prev,
.p-list .owl-next {
	background: #000;
}
.p-list .owl-prev:hover,
.p-list .owl-next:hover {
	background: #000;
}

.socials a {
	display: inline-block;
}

.socials a:hover .svg *,
.socials a:hover .svg--small * {
	fill: #000;
}

.socials a:hover .ico {
	-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
}

.p-img {
	-webkit-filter: saturate(0) contrast(1.3);
	-o-filter: saturate(0) contrast(1.3);
	filter: saturate(0) contrast(1.3);
}

.promo__slider {
	-webkit-filter: saturate(0) contrast(1.1);
	-o-filter: saturate(0) contrast(1.1);
	filter: saturate(0) contrast(1.1);
	margin-bottom: 40px;
	overflow: visible;
}

.promo__slider a{
	color: #000;
}
.promo__slider a:hover{
	color: #fff;
}
.promo__slider a:after,
.promo__slider a:hover:after {
	height: 100%;
	/*background: rgba(0,0,0,0.6);*/
	background: #fff;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.promo__slider a:hover:after {
	/*background: rgba(0,0,0,0.5);*/
	background: #000;
	color: #fff;
}

.promo__slider a span {
	font-weight: 700;
	display: block;
	position: relative;
	left: auto;
	bottom: auto;
	right: auto;
	top: auto;
	width: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

.promo__slider a img{
	display: none !important;
}
.promo__slider a:before {
	content: none;
}
.promo__slider .owl-dots{
	bottom: -50px;
}

.pub__footer a {
	padding-left: 60px!important;
	color: #000;
}

.pub__footer a:before {
	color: #000!important;
	background: transparent!important;
	white-space: nowrap;
	width: auto!important;
	text-transform: uppercase;
}
.pub__footer a:hover:before{
	color: #fff!important;
}

.pub__footer a[href$=".pdf"]{
	color: #000;
}

.pub__footer a[href$=".pdf"]:before {
	content: "pdf-файл";
}


.digest-expand:after {
	font-size: 48px;
	width:  32px;
	height: 32px;
	-webkit-box-shadow: inset 0 0 0 2px #000;
	box-shadow: inset 0 0 0 2px #000;
	-webkit-filter: saturate(0) contrast(1.1);
	-o-filter: saturate(0) contrast(1.1);
	filter: saturate(0) contrast(1.1);
}

.sq-aside a {
	background: #000;
	color: #fff;
	border-bottom: 1px solid #000;
}

.sq-content {
	-webkit-filter: saturate(0) contrast(1.1);
	-o-filter: saturate(0) contrast(1.1);
	filter: saturate(0) contrast(1.1);
}

.usercontent ul li:before {
	color: #000;
}


.usercontent a[href$=".pdf"]:after {
	content:"pdf-файл";
	background: none;
	width: auto;
	font-size: 14px;
	line-height: 1;

}

.usercontent a[href$=".doc"]:after {
	content:"doc-файл";
	background: none;
	width: auto;
	font-size: 14px;
	line-height: 1;
}

.usercontent a[href$=".xls"]:after {
	content:"xls-файл";
	background: none;
	width: auto;
	font-size: 14px;
	line-height: 1;
}

.usercontent .tip {
	color: #000;
	font-size: 16px;
}


.goback {
	background: #fff;
	color: #000;
	border: 2px solid #000;
}

.goback:before {
	border-right: 2px solid #000;
}


.button {
	background-color: #000;
	color: #fff;
	-webkit-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

.button:hover {
	background-color: #fff;
	color: #000;
	outline: 2px solid #000;
}

.button--alt{
	border: 2px solid #000;
	color: #000;
	line-height: 46px;
}
.button--alt:hover{
	box-shadow: inset 0 0 0 2px #000;
}

.radio {
	background: #fff;
	border: 2px solid #000;
}

.radio input:checked:before {
	-webkit-box-shadow: inset 0 0 0 3px #000;
	box-shadow: inset 0 0 0 3px #000;
}

input,
textarea,
.input input,
.input textarea {
	border: 2px solid #000;
	padding-left: 1rem;
	padding-right: 1rem;
	font-weight: 700;
}

.input > label {
	left: 15px;
	font-weight: 700;
}

.reg__form label b {
	font-size: 20px;
	color: #000;
}

.input input:focus ~ label,
.input textarea:focus ~ label,
.input .has-content ~ label,
.input .bxlhe-frame ~ label,
.input__error ~ label{
	font-size: 16px;
	color: #000 !important;
}

.csstransforms .input input:focus ~ label,
.csstransforms .input textarea:focus ~ label,
.csstransforms .input .has-content ~ label,
.csstransforms .input .bxlhe-frame ~ label {
	-webkit-transform: translateY(-45px);
	-ms-transform: translateY(-45px);
	-o-transform: translateY(-45px);
	transform: translateY(-45px);
}

.input__error ~ .note__error {
	background: #000;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	right: 3px;
	top: 100%;
	margin-top: 1px;
	outline: 3px solid #000;
}

@media only screen and (max-width: 359px) {
	.input__error ~ .note__error {
		font-size: 13px;
		font-weight: 400;
	}
}

.input__success ~ .note__success:before,
.input__success ~ .note__success:after{
	background: #000;
	height: 3px;
}

.input__success ~ .note__success {
right: 10px;
}

.reg__steps .step {
color: #000;
border-color: #000;
background: #fff;
font-weight: 800;
}

.input input.input__error,
.input textarea.input__error{
	border-color: #000;
}

.input > .focus-border,
.input .has-content ~ .focus-border {
background-color: #000;
}

.form-row {
	margin-bottom: 60px;
}

.select .selectize-input{
	border: 2px solid #000;
	padding-left: 1rem;
	font-weight: 700;
}
.select .selectize-dropdown .active {
	background-color: #000;
	color: #fff;
}

.input__icon{
	display: none !important;
}

.form-multiple [class^="col-"]{
	padding-bottom: 4rem;
}

.flatpickr-calendar{
	font-size: 18px;
	font-weight: bold;
}
.flatpickr-calendar.arrowTop:before,
.flatpickr-calendar.arrowTop:after {
	display: none !important;
}
.flatpickr-calendar {
	border-radius: 0;
	box-shadow: 0 0 0 2px #000;
}
.flatpickr-weekdays{
	box-shadow: inset 0 -2px 0 #000;
	background: #fff;
}
.flatpickr-month,
.flatpickr-weekdays {
	background: #fff;
}
.flatpickr-month{
	height: 34px;
	line-height: 34px;
}
.flatpickr-current-month {
	font-size: 20px;
	top: 0;
}
.flatpickr-current-month span.cur-month:hover,
.numInputWrapper:hover {
	background: none;
}
.flatpickr-prev-month,
.flatpickr-next-month{
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}
span.flatpickr-weekday {
	color: #000;
	height: 38px;
	line-height: 34px;
	font-weight: bold;
}
.flatpickr-prev-month svg, .flatpickr-next-month svg {
	fill: #000;
}
.flatpickr-day{
	font-weight: bold;
	background-color: #000;
	color: #fff;
	border-color: #fff;
}
.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
	color: #000;
	background: #fff;
	border-color: #fff;
	cursor: default;
}
.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
	cursor: pointer;
	outline: 1px solid #000;
	background: #000;
	border-color: #000;
	color: #fff;
}
.flatpickr-day.today{
	font-size: 150%;
	border-color: #000;
}
.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
	border-color: #000;
	background: #000;
	color: #fff;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
	background: #fff;
	color: #000;
	border-color: #000;
}



.text-note,
.link-descr {
color: #000;
font-size: 16px;
}

.block-item {
border: 2px solid #000;
margin-top: -2px;
}

.block-title {
background: #fff;
font-size: 18px;
}

.block-link {
border: 2px solid #000;
margin-top: -2px;
background: #fff;
font-size: 18px;
}

.block-title:after {
color: #000;
-webkit-box-shadow: 0 0 0 2px #000;
box-shadow: 0 0 0 2px #000;
}

.block-title:hover:after{
background: none;
color: #fff;
-webkit-box-shadow: 0 0 0 2px #fff;
box-shadow: 0 0 0 2px #fff;
}

.block-content {
border-color: #000;
}





blockquote {
border: 2px solid #000;
color: #000;
}

blockquote:before, blockquote:after {
color: #000;
}


small {
font-size: 16px;
}


.digest-expand {
text-align: center;
}

.digest-expand:after {
content:"Показать еще";
display: inline-block;
background: none;
-webkit-box-shadow: 0 0 0 0 transparent;
box-shadow: 0 0 0 0 transparent;
height: auto;
width: auto;
font-size: 18px;
border-radius: 0;
border: 2px solid #000;
text-align: center;
padding: 0.5rem;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.digest-expand:hover:after {
background: #000;
color: #fff;
}



.b-feedback > a:hover,
.topnav__phone > a:hover {
background-color: #fff;
color: #000;
}

.b-feedback > a:hover .svg path,
.topnav__phone > a:hover .svg path {
fill: #000;
}


.res-list a:hover {
opacity: 1;
}

.usercontent table{
	border: 0;
}
.usercontent th{
	background: #000;
	color: #fff;
	border-color: #ffffff;
}
.usercontent td{
	border: 1px solid #000;
	background: #fff;
	color: #000;
}
.usercontent tr.streak td,
.usercontent tr:nth-child(odd) td{
	background: transparent;
}
.usercontent tr:hover td,
.usercontent tr.hover td {
	background: #f3f3f3 !important;
	color: #000 !important;
}
.usercontent tr.table-row-subtitle td,
.usercontent tr.table-row-title td {
	background-color: #fff;
	color: #000;
	font-weight: bold;
}

.bootstrap-table .table,
.fixed-table-container,
.fixed-table-container tbody td,
.fixed-table-container tbody th,
.fixed-table-header-columns .table,
.fixed-table-body-columns .table{
	border-color: #000;
}
.bootstrap-table .table>thead>tr>th,
.fixed-table-container thead td,
.fixed-table-container thead th{
	border-color: #fff;
}

.page-main{
	border-color: #000;
}

.accent {
background: #000;
border: 1px solid #000;
font-size: 16px;
color: #fff;
font-style: normal;
font-size: 18px;
}

.selectize-control.single .selectize-input:after {
	right: 9px;
	margin-top: -5px;
	border-width: 10px 5px 0 5px;
	border-color: #000 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
	margin-top: -5px;
	border-width: 0 5px 10px 5px;
	border-color: transparent transparent #000 transparent;
}
.selectize-dropdown {
	border: 2px solid #000;
	background: #fff;
	margin: 2px 0 0 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
	padding: 5px 15px;
}
.selectize-dropdown .active {
	background-color: #000;
	color: #fff;
}


/* placeholder */
.search__input::-webkit-input-placeholder{
	color: #000;
}
.search__input:-moz-placeholder{
	color: #000;
}
.search__input::-moz-placeholder{
	color: #000;
}
.search__input:-ms-input-placeholder{
	color: #000;
}

.search__input:focus::-webkit-input-placeholder{ opacity: 0; }
.search__input:focus:-moz-placeholder{ opacity: 0; }
.search__input:focus::-moz-placeholder{ opacity: 0; }
.search__input:focus:-ms-input-placeholder{ opacity: 0; }

.search__input:focus{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.search__submit .svg *,
.search__submit:hover .svg *{
	fill: #000;
}
/* placeholder end */


.subject-slider:before,
.subject-slider:after{
	content: none !important;
}
.subject-slider.owl-carousel .subject-slide a {
	background: #fff !important;
}
/*.subject-slider .owl-prev,
.subject-slider .owl-next{
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.subject-slider .owl-prev:hover,
.subject-slider .owl-next:hover{
	background-color: #000;
}*/
.subject-slider .owl-prev.disabled,
.subject-slider .owl-next.disabled{
	opacity: 0;
	visibility: hidden;
}
.subject-slider .owl-prev i,
.subject-slider .owl-next i{
	width: 40px;
	height: 80px;
}
.subject-slider .owl-prev:hover i,
.subject-slider .owl-next:hover i{
	background-color: #000;
}
.subject-slider .owl-next i:before,
.subject-slider .owl-next i:after{
	right: 7px;
}
.subject-slider .owl-prev i:before,
.subject-slider .owl-prev i:after{
	left: 7px;
}
.subject-slider .owl-prev i:before,
.subject-slider .owl-prev i:after,
.subject-slider .owl-next i:before,
.subject-slider .owl-next i:after{
	background-color: #000;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	width: 5px !important;
}
.subject-slider .owl-prev:hover i:before,
.subject-slider .owl-prev:hover i:after,
.subject-slider .owl-next:hover i:before,
.subject-slider .owl-next:hover i:after{
	background-color: #fff;
}


.subject-card {
	background-color: #fff;
	outline: 2px solid #000;
}
.product-card__text {
	font-size: 18px;
	line-height: 1.8;
}
.subject-card__footer {
	border-top: 2px dotted #000;
}
.protection-anchor,
.protection-anchor:hover,
.l-layout .protection-anchor:hover {
	display: block;
	position: absolute;
	width: 36px;
	height: 36px;
	font-size: 20px;
	line-height: 36px;
	font-weight: bold;
	outline: none;
}
.protection-anchor > span,
.protection-anchor > span {
	background: #000;
	color: #fff;
	box-shadow: none;
}
.protection-anchor:hover > span,
.protection-anchor.active > span {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	box-shadow: none;
	background-color: #000;
}
.protection-links a.active{
	color: #fff;
	background-color: #000;
	outline: 2px solid #000;
}


.add-info{
	background-color: #000;
	font-size: 18px;
	width: auto;
	padding: 0 5px;
	color: #fff;
	box-shadow: 0 0 0 2px #000;
}
.add-info:hover,
.l-layout .add-info:hover{
	color: #000;
	background-color: #fff;
}
.add-info:before{
	content: attr(data-text);
}

.coin-memory__list {
	border-bottom: 2px dotted #000;
}
.coin-memory__item{
	box-shadow: inset 0 2px 0 #000;
	outline: none;
}
.coin-memory__item:nth-child(odd) {
	background-color: #fff !important;
}
.product-card__text .not-available {
	color: #000;
}

.structure__item{
	box-shadow: inset 0 2px 0 #000;
	outline: none;
}
.structure__item:nth-child(odd){
	background-color: #fff !important;
}
.structure__content a:hover,
a.show-more:hover{
	outline: 6px solid #000;
}
.structure__content a span,
a.show-more:before{
	border-bottom: 2px dotted #000;
}
.structure__content a:hover span,
a.show-more:hover:before{
	border-color: #fff;
}
.structure__content a.has-arrow:after,
a.show-more.has-arrow:after{
	-webkit-background-size: 22px;
	background-size: 22px;
	-webkit-filter: grayscale(100%) saturate(100%);
	-o-filter: grayscale(100%) saturate(100%);
	filter: grayscale(100%) saturate(100%);
}
.structure__content a.has-arrow:hover:after,
a.show-more.has-arrow:hover:after{
	-webkit-filter: grayscale(100%) invert(100%) saturate(0);
	-o-filter: grayscale(100%) invert(100%) saturate(0);
	filter: grayscale(100%) invert(100%) saturate(0);
}
.structure__content ul li:before,
.structure__content ul ul li:before,
.structure__content ul li:after,
.structure__content ul ul li:after{
	border: solid #000;
}
.structure__content ul li:before,
.structure__content ul ul li:before {
	border-width: 0 0 0 2px;
}
.structure__content ul li:after,
.structure__content ul ul li:after {
	border-width: 0 0 2px;
}


.subject-preview__inner,
.subject-preview__inner:hover{
	background: #fff !important;
	border: 2px solid #000 !important;
	outline: none !important;
	color: #000 !important;
}
.subject-preview__inner:hover{
	box-shadow: inset 0 0 0 2px #000;
}
.subject-preview__img--alt{
	display: none !important;
}
.subject-preview__title {
	font-weight: 700;
	font-size: 18px;
	color: #000;
}
.subject-preview__text{
	font-weight: bold;
}


.form-with-frame {
	border: 2px solid #000;
}

.usercontent .socials--user-share li, .socials--user-share li {
	margin-right: 30px;
}
.socials--user-share a{
	color: #000;
	font-weight: bold;
}
.socials--user-share a:hover,
.l-layout .socials--user-share a:hover {
	color: #fff;
	background-color: #000;
	outline: none;
}
.socials--user-share .ico{
	background: #fff !important;
	-webkit-box-shadow: inset 0 0 0 2px #000;
	box-shadow: inset 0 0 0 2px #000;
}
.socials--user-share a:hover .ico{
	background: #000 !important;
	opacity: 1;
}
.socials--user-share .svg *,
.socials--user-share .svg--small * {
	fill: #000;
}
.socials--user-share a:hover .svg *,
.socials--user-share a:hover .svg--small * {
	fill: #fff;
}
.socials--user-share a span:last-child {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
	height: auto;
	overflow: visible;
	clip: auto;
	padding-right: 5px;
}


.news-img{ display: none; }


.sq-img{
	display: none !important;
}


.canvas-wrap canvas{
	-webkit-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}


.pseudo-tab{
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border: 1px solid #000;
}
.pseudo-tab.active,
.pseudo-tab:hover,
.l-layout .pseudo-tab.active,
.l-layout .pseudo-tab:hover{
	outline: none;
	background-color: #000;
	color: #fff;
	box-shadow: inset 0 0 0 1px #000;
}
.pseudo-tab.active,
.l-layout .pseudo-tab.active{
	font-size: 20px;
	background-color: #fff;
	color: #000;
	box-shadow: inset 0 0 0 2px #000;
}


.def-inline-popup .mfp-close,
.def-inline-popup .mfp-close:hover{
	width: 100px;
	height: 50px;
	position: absolute;
	right: -50px;
	background: #000;
	text-indent: 0;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	box-shadow: 0 0 0 5px #fff;
}
@media only screen and (max-width: 1099px){
	.def-inline-popup .mfp-close,
	.def-inline-popup .mfp-close:hover{
		width: 150px;
		height: 30px;
		right: 5px;
		top: 5px;
		line-height: 30px;
	}
}
.mfp-close:before, .mfp-close:after{
	content: none;
}
.my-mfp-slide-bottom.mfp-bg,
.my-mfp-slide-bottom .zoom-anim-dialog {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 1;
}