.placeholder {
	color: #aaa;
}

/*.section__aside {
	display: none;
}
*/
.flex-row {
	display: table;
	border-collapse: collapse;
	width: 100%;
}

.flex-row .col-xs,
.flex-row .col-xs-1,
.flex-row .col-xs-2,
.flex-row .col-xs-3,
.flex-row .col-xs-4,
.flex-row .col-xs-5,
.flex-row .col-xs-6,
.flex-row .col-xs-7,
.flex-row .col-xs-8,
.flex-row .col-xs-9,
.flex-row .col-xs-10,
.flex-row .col-xs-11,
.flex-row .col-xs-12,
.flex-row .col-md,
.flex-row .col-md-1,
.flex-row .col-md-2,
.flex-row .col-md-3,
.flex-row .col-md-4,
.flex-row .col-md-5,
.flex-row .col-md-6,
.flex-row .col-md-7,
.flex-row .col-md-8,
.flex-row .col-md-9,
.flex-row .col-md-10,
.flex-row .col-md-11,
.flex-row .col-md-12 {
	display: table-cell;
	vertical-align: top;
}

.center-xs .col-xs,
.center-xs .col-xs-1,
.center-xs .col-xs-2,
.center-xs .col-xs-3,
.center-xs .col-xs-4,
.center-xs .col-xs-5,
.center-xs .col-xs-6,
.center-xs .col-xs-7,
.center-xs .col-xs-8,
.center-xs .col-xs-9,
.center-xs .col-xs-10,
.center-xs .col-xs-11,
.center-xs .col-xs-12 {
	text-align: center;
}

.end-xs .col-xs,
.end-xs .col-xs-1,
.end-xs .col-xs-2,
.end-xs .col-xs-3,
.end-xs .col-xs-4,
.end-xs .col-xs-5,
.end-xs .col-xs-6,
.end-xs .col-xs-7,
.end-xs .col-xs-8,
.end-xs .col-xs-9,
.end-xs .col-xs-10,
.end-xs .col-xs-11,
.end-xs .col-xs-12 {
	text-align: right;
}

.l-service {
	padding-bottom: 60px;
}

.service__list.flex-row {
	display: block;
}

.service__list:after {
	content:"";
	display: block;
	clear: both;
}

.service__list > li {
	display: block!important;
	width: 20%;
	float: left;
	opacity: 1!important;
}

.service__list > li:nth-child(5n+1) {
	clear: both;
}

.service__footer {
	display: none;
}


/*
.l-infoblock .tab__content {
	width: auto;
}

.l-infoblock .tab-item {
	width: 50%;
	float: left;
	border: 1px solid #000;
}*/